<h1>{{title}}</h1>

<form [formGroup]="loginForms" (ngSubmit)="loginUser()">

<input type="text" placeholder="Enter Name"  formControlName="users">
<br>
<span    style="color: red;" *ngIf="user && user.invalid && user.touched">This feild is not Valid</span>



<br><br>
<input type="password" placeholder="Enter password"  formControlName="password">
<br>
<span    style="color: red;" *ngIf="password && password.invalid && password.touched">This feild is not Valid</span>

<br><br>


<button [disabled]="loginForms.invalid">Login</button>







</form>